#gameover {
    text-align: center;
    max-width: 500px;
    display: flex;
    flex-direction: column;
}
.pontos-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pontos {
    margin: 0 5px;
    padding: 3px 8px;
    border-radius: .3rem;
    background-color: #8435de;
    color: white;
}

#gameover h2, #gameover p {
    margin-bottom: 1rem;
}

#gameover p {
    color: #8435de; 
}

#gameover img {
    margin: 2rem;
    height: 200px; }